html, body, .grid-container { height: 100%; padding: 0; margin: 0;font: 15px sans-serif;}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7% 45% 48%;
    gap: 0px 0px;
  }
/**********************WORLD MAP STYLE**********************/
#world_map{
            grid-area: 2 / 1 / 3 / 2;
            width: 100%;
            height: 100%;
            /*background: rgb(52, 36, 145);*/
            background: #000;
            border: 3px solid rgb(129, 135, 143);
            }
.hidden {
    display: none;
}
.Country{
    stroke: white;
    stroke-width: 0.3px;
}
div.tooltip_world_map {
            grid-area: 2 / 1 / 3 / 2;
            color: rgb(0, 0, 0); 
            background: rgb(231, 231, 231); 
            border-radius: 3px; 
            box-shadow: 0px 0px 2px 0px #a6a6a6; 
            padding: .2em; 
            font: 14px sans-serif;
            font-weight: 500;
            opacity: 0.9;
            text-align:center;
            position: absolute;
            }
/* Legend Text Style */
/*svg text { 
    font: 15px sans-serif;
}*/
/**********************************************************/

/**********************************************************/

/*PARALLEL*/
#parallel_graph{
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
    background: #000;
    border: 3px solid rgb(129, 135, 143);
}


.brushParallel .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}


.axis_parallel line,
.axis_parallel path{
    stroke: rgb(255, 255, 255);
}

.axis_parallel text {
    fill: #fff;
    cursor: move;
}


.axisParallel line,
.axisParallel path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axisParallel text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.text_parallel_axis{ 
    fill:#fff;
    font: 14px sans-serif;
    font-weight: bold;
}

/*****************************************************************

/**********************SCATTERPLOT PCA STYLE**********************/

.scatterplot_pca_container{
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    height: 100%;
    /*background: rgba(255, 123, 46, 0.685);
    background: white;
    background: #000;*/
    background: rgb(255, 255, 255);
    border:3px solid rgb(129, 135, 143);
}
.scatterplot_pca{
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
}
.scatterplot_pca_button_pca{
    width: 100%;
}
.scatterplot_pca_button_pca_table{
    width: 100%;
}
.scatterplot_pca_button_pca_table_first_column{
    width: 100%;
    text-align: center;
}
.scatterplot_pca_button_pca_table_second_column{
    width: 250px;
    text-align: center;
    display: inline-block;
}
div.tooltip_scatterplot_pca {
            color: rgb(255, 255, 255); 
            /*background: rgb(231, 231, 231); */
            background:rgb(0, 0, 0);
            border-radius: 3px; 
            box-shadow: 0px 0px 2px 0px #a6a6a6; 
            padding: .2em; 
            font: 14px sans-serif;
            font-weight: 500;
            opacity: 0.8;
            text-align:center;
            position: absolute;
}
.hidden_scatterplot_pca {
    display: none;
}

.scatterplot_pca_axes line{
    stroke: black;
    /*stroke-width: 2px;*/
}
.scatterplot_pca_axes path{
    stroke: black;
    /*stroke-width: 2px;*/
}
.scatterplot_pca_axes text{
    fill: black;
    font: 15px sans-serif;
    /*font-weight: bold;*/
}
/**********************************************************/
/**********************RANGE BAR TIMELINE**********************/
.navigation_bar{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    background-color: rgb(219, 211, 211);
    /*color:#fff*/
}
.no_big_countries{
    margin-top: 1%;
    margin-left: 3%;
    width : 25%;
}
.total_reset_button_container{
    margin-top: 1%;
    margin-left: 2%;
    width : 5%;
}
.selection_legend{
    margin-top: -5px;
    margin-bottom: 5px;
    width : 15%;
}
.range{
    padding-left: 1%;
    padding-right: 1%;
    width : 50%;
    margin-left: 5%;
    /*border-left: 1px solid black;
    border-right: 1px solid black;*/
}
* {
    box-sizing: border-box;
  }
  
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    background: #0000009f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #005CC8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #000000;
    cursor: pointer;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding-left: 11px;
    padding-right: 8px;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #000000;
    height: 10px;
    line-height: 40px;
    margin: 5px 0 20px 0;
}

/**********************************************************/
/**********************BAR CHART DTH**********************/
.line_chart_dth_container{
    grid-area: 3 / 1 / 4 / 2;
    background: white;
    position: relative;
    border: 3px solid rgb(129, 135, 143);
}

